<strong>Olá, {{ student }}</strong>
<p>
  Sua matricula foi atualizada com sucesso.
</p>
<p>
  <strong>Plano: </strong>{{ plan }} <br/>
  <strong>Preço: </strong>R${{ price }}/mês<br/>
  <strong>Data Início: </strong>{{ startDate }} <br/>
  <strong>Data Término: </strong>{{ endDate }} <br/>
  <br/>
  Obrigado pela preferência!
</p>